@use "sass:map";
@use "../../styles/variables.scss" as *;

.grid {
  display: grid;
  gap: 24px;
  padding: 20px 0;
  width: 100%;
  grid-template-columns: 1fr;

  @media (min-width: #{map.get($breakpoints, 'tablet-portrait')}) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: #{map.get($breakpoints, 'tablet-landscape')}) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.noResults {
  color: white;
  margin-top: 40px;
}

.loadMoreBtn {
  margin-top: 30px;
  padding: 12px 24px;
  background-color: var(--color-water);
  color: white;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  font-weight: bold;
  transition:
    opacity 0.2s ease,
    transform 0.2s ease;

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  &:hover:not(:disabled) {
    opacity: 0.9;
    transform: translateY(-2px);
  }
}
