.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  color: var(--color-fire);
  margin-bottom: 20px;
}

.searchContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px 0;
}

.searchInput {
  width: 100%;
  max-width: 400px;
  padding: 12px 20px;

  background-color: #1a1a1a;
  color: var(--color-white);
  border: 1px solid var(--color-border-dar);
  border-radius: 25px;

  font-size: 1rem;
  outline: none;
  transition: all 0.3s ease;

  &::placeholder {
    color: #888;
  }

  &:focus {
    border-color: var(--color-border);
    background-color: var(--color-background);
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.1);
  }
}
