* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #121212;
  color: white;
  min-height: 100vh;
}

#root {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}
